.journey__container {
    background-color: var(--secondary-color);
  }
  
  .journey__grid {
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  
  
  
  .journey__container{
    background-color: white;
  
  }

  .section__container {
    padding: 5rem 1rem;
    max-width: var(--max-width);
    margin: auto;
   
  }
  .section__title {
    font-size: 2rem;
    font-weight: 400;
    color: var(--primary-color);
    margin-bottom: 1rem;
    text-align: center;
    color: black;
  }
 
.card1{
    width: 50%;
    display: inline;
    box-shadow: 2px 2px 20px black;
    border-radius: 5px; 
    margin: 2%;
   }

.s_box img{
 width: 100%;
 justify-content: center;
 align-items: center;
}

.title1 {
 text-align: center;
 padding: 10px;
}

h1{
 font-size: 20px;
}

.des{
 padding: 3px;
 text-align: center;
 padding-top: 10px;
 border-bottom-right-radius: 5px;
 border-bottom-left-radius: 5px;
}
.des button{
 margin-top: 40px;
 margin-bottom: 10px;
 background-color: white;
 border: 1px solid black;
 border-radius: 5px;
 padding:10px;
}
.des button:hover{
background-color: #05386B;
 color: white;
 transition: .5s;
 cursor: pointer;
}
